#Python virtual environment folder
venv/

# All the required pip libraries for the project
requirements.txt

# Face recognition dataset folder
DukeMTMC-reID/   

#Video datasets for testing the RSTP video stream conversion to Images frames
GaitDatasetB-silh/
new video dataset/