#Python virtual environment folder
venv/


#Python Code Cache
__pycache__/
test_image/
.gitignore

outputs/
Identification/

output2.mp4
output1.mp4

crops/
frame_data1.npy
frame_data2.npy
matched_ids.npy

multi-camera-person-tracking/
